.file-list-wrapper{
  overflow-y: auto;
  height: 100%;
  background-color: lightgray;
  padding: 1.5rem;
  box-sizing: border-box;
}

.file-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 1.5rem;
  align-items: flex-start;
  align-self: flex-start;
}

.file-list__item{
  background-color: lightgray;
  outline: darkgray 1px solid;
  cursor: pointer;
  position: relative;
  padding-bottom: 100%;

  transition: outline 100ms;
}

.file-list__item.selected{
  outline-color: blueviolet;
  outline-width: 3px;
}

.file-list__item img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
