.file-viewer{
  background-color: var(--file-source-tree-color);
  //border-left: 2px solid var(--file-manager-border-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 280px;
}
