.file-list-wrapper {
  overflow-y: auto;
  height: 100%;
  background-color: var(--file-list-color);
  padding: var(--file-list-padding);
  box-sizing: border-box;
  flex: 1 auto;
}

.file-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: var(--file-list-gap);
  align-items: flex-start;
  align-self: flex-start;
}

.file-list__item {
  background-color: var(--file-manager-light-color);
  outline: var(--file-manager-border-color) 1px solid;
  cursor: pointer;
  position: relative;
  padding-bottom: 100%;

  transition: outline 100ms;
}

.file-list__item.selected {
  outline-color: var(--file-manager-primary-color);
  outline-width: 4px;
}

.file-list__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
