.file-manager__actions{
  background-color: var(--file-manager-light-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 2px solid var(--file-manager-border-color);
}

.file-manager .file-actions__button{
  background-color: var(--file-manager-primary-color);
  color: #ffffff;
  font-size: var(--file-manager-font-size-medium);
}
