.file-manager{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  color: var(--file-manager-text-color);
}

.file-manager__body{
  display: flex;
  justify-content: space-between;
  height: var(--file-manager-height);
}

.file-manager button{
  font-family: inherit;
  font-size: inherit;
  border: 0;
}

.file-manager .button--action{
  padding: 1rem 2rem;
  background-color: var(--file-manager-medium-color);
}

.file-manager button:not(:disabled){
  cursor: pointer;
}
